<div id="header">
	<div id="logo">
	    <a href="index"><img src="images/logo.png" alt="LOGO" height="100" width="200"></a>
	</div>
	<div id="navigation">
		<ul>
			<li {{#if activeTab.index}}class="selected"{{/if}}>
				<a href="index">Home</a>
			</li>
			<li {{#if activeTab.travel}}class="selected"{{/if}}>
				<a href="travel">Travel</a>
			</li>
			<li {{#if activeTab.rooms}}class="selected"{{/if}}>
		    	<a href="rooms">Rooms</a>
			</li>
			<li {{#if activeTab.meals}}class="selected"{{/if}}>
				<a href="meals">Meals</a>
			</li>
			<li {{#if activeTab.news}}class="selected"{{/if}}>
				<a href="news">News</a>
			</li>
			<li {{#if activeTab.about}}class="selected"{{/if}}>
				<a href="about">About</a>
			</li>
			<li {{#if activeTab.contact}}class="selected"{{/if}}>
				<a href="contact">Contact</a>
			</li>
		</ul>
	</div>
</div>